@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Dancing+Script:wght@400..700&family=WDXL+Lubrifont+TC&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #888888;
}
.titulo {
    font-family: "Dancing Script", cursive;
    font-size: 70px;
    color: #0000ff;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5px;
}
.subtitulo {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}
.btn-principal {
    display: block;
    width: 200px;
    margin: 0 auto 40px auto;
    padding: 12px 20px;
    background-color: #e50914;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.btn-principal:hover {
    background-color: rgb(228, 161, 112);
}
.menu {
    background-color: #f0f0f0;
    padding: 10px 0;
}
.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}
.menu a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}
.menu a:hover {
    color: #e50914;
}
.imagen-principal {
    display: block;
    max-width: 80%;
    margin: 20px auto;
    border-radius: 10px;
}
.seccion-titulo {
    font-family: 'Pacifico', cursive;
    text-align: center;
    background-color: #ffffdd;
    padding: 10px;
    font-size: 24px;
}
.descripcion {
    text-align: center;
    margin: 0 auto 20px auto;
    max-width: 600px;
}
.botones-secundarios {
    text-align: center;
    margin-bottom: 40px;
}
.btn-secundario {
    background-color: #00aff5;
    color: white;
    padding: 10px 15px;
    margin: 10px;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s;
}
.btn-secundario:hover {
    background-color: #42b9c9;
}
.hamburguer {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
}
.hamburguer div {
    width: 25px;
    height: 3px;
    background-color: rgba(0,0,255,1.00);
}
nav {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #0000FF;
    border-radius: 5px;
    padding: 10px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    margin-bottom: 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}
nav ul li a:hover {
    color: rgb(194, 102, 174);
}
/* CSS Document */
